<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>formats</key>
	<array>
		<dict>
			<key>format</key>
			<string>xx xxx xxx</string>
			<key>pattern</key>
			<string>[0-9]{0,8}$</string>
		</dict>
		<dict>
			<key>format</key>
			<string>xxx xxx xxx xxx</string>
			<key>pattern</key>
			<string>^\+614[0-9]{0,8}$</string>
		</dict>
		<dict>
			<key>format</key>
			<string>xxx (x) xxx xxx xxx</string>
			<key>pattern</key>
			<string>^\+610[0-9]{0,9}$</string>
		</dict>
		<dict>
			<key>format</key>
			<string>xxx x xxxx xxxx</string>
			<key>pattern</key>
			<string>^\+61[0-9]{0,9}$</string>
		</dict>
		<dict>
			<key>format</key>
			<string>xxx xx xx xx xx xx</string>
			<key>pattern</key>
			<string>^\+44[0-9]{0,10}$</string>
		</dict>
		<dict>
			<key>format</key>
			<string>xx (xxx) xxx-xxxx</string>
			<key>pattern</key>
			<string>^\+[1]{1}[0-9]{0,10}$</string>
		</dict>
		<dict>
			<key>format</key>
			<string>xx xx xx xx xx</string>
			<key>pattern</key>
			<string>^[1-9]{1}[0-9]{0,9}$</string>
		</dict>
	</array>
</dict>
</plist>
