<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>formats</key>
	<array>
		<dict>
			<key>format</key>
			<string>x xxxxx xxxx</string>
			<key>pattern</key>
			<string>^[0-9]{10}$</string>
		</dict>
		<dict>
			<key>format</key>
			<string>xxx xxxx xxxx</string>
			<key>pattern</key>
			<string>^[0-9]{11}$</string>
		</dict>
	</array>
</dict>
</plist>
